In [1]:
# integers
age = 35
print(type(age))

<class 'int'>

In [2]:
# floating point datatype
width = 4.5
print(width)
print(type(width))

4.5
<class 'float'>

In [4]:
# String datatype
name = "chaitu"
print(name)
print(type(name))

chaitu
<class 'str'>

In [5]:
# boolean datatype
is_major = True
print(is_major)
print(type(is_major))

True
<class 'bool'>

In [6]:
bool()

False

In [9]:
a = 10
b = 10
print(a == b)
print(type(a == b))

True
<class 'bool'>

In [ ]:
# common errors
result = "hello" + 5  # gives error as we cannot concatenate string with int
print(result)

TypeError: can only concatenate str (not "int") to str

In [13]:
result = "hello" + str(5)
print(result)

hello5